body{
    height:700px;
    background:url("window.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
}

h2{
    font-size:25px;
    text-align: center;
}

h1{
    font-size:35px;
    text-align: center;
}

input{
    width:95%;
    border-radius: 5%;
    margin:3%;
    padding:1%;
}

label{
    padding-left:3%
}

button{
    float:right;
    padding:1%;
    width:80px;
    border-radius:10%;
    background: #f1ca61;
}

button:hover{
    opacity: .7;
}

.error{
    color:#820a0a;
    background: #d82c2c73;
    padding:1%;
    border-radius: 5%;
    width: 94%;
    margin-left: 3%;
}

a.ca{
    font-size: 14px;
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color:#444;
}

a.ca:hover{
    text-decoration: underline;
}

.success{
    color:#0a3911;
    background: #1b5c1e73;
    padding:1%;
    border-radius: 5%;
    width: 94%;
    margin-left: 3%;
}

form{
    border-radius: 5%;
    background-color: #ede1c4;
    padding:3%;
    margin:0 auto;
}

.form_login{
    border-radius: 5%;
    background-color: #ede1c4bc;
    width:50%;
    padding:5%;
    margin:0 auto;
    margin-top: 5%;
}

.submit_2{
    width:110px;
}

.ver{
    width:0;
}

@media only screen and (max-width: 990px)  {
    .logo{
        width:38%;
    }
    .form_login{
        width:70%;
        margin-top: 10%;
    }

    .body{
        height: 800px;
    }
}
